.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

.article {
  align-items: center;
  background-color: var(--variable-collection-black);
}

.content {
  gap: 8px;
  max-width: 800px;
  width: 100%;
  align-items: flex-start;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.white {
  color: var(--variable-collection-white);
}