.wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 8px;
}

.input {
  display: inline-flex;
  align-self: stretch;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #AAAAAA;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
  align-self: stretch;
}

textarea {
  min-height: 256px;
}

.error {
  color: var(--variable-collection-warning);
}