.button {
  display: flex;
  padding: 12px;
  min-width: 120px;
  width: fit-content;
  border-radius: 8px;
  background-color: var(--variable-collection-white);
  border: 2px solid var(--variable-collection-grey);
  justify-content: center;
  

  &:hover {
    background-color: var(--variable-collection-lightgrey);;
  }
}

.icon {

}

.content {
  display: flex;
  color: var(--variable-collection-black);
}