.icon {
  align-items: center;
  border-radius: 64px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  overflow: hidden;
  position: relative;
}

.icon .a {
  font-family: "Material Icons", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.icon.with-icon {
  border: 1px solid;
  border-color: var(--variable-collection-white);
}

.icon.with-image {
  background-image: url(https://c.animaapp.com/YAXjJbDO/img/variant-withimage@2x.png);
  background-position: 50% 50%;
  background-size: cover;
}

.icon.with-icon .a {
  color: var(--variable-collection-green);
}

.icon.with-image .a {
  color: #000000;
}
