.text {
  display: inline-flex;
  flex: 1;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.h1 {
  color: var(--variable-collection-black);
  font-family: "Titillium Web", Helvetica;
  font-size: 46px;
  font-weight: 700;
  line-height: 40px;
}

.h2 {
  color: var(--variable-collection-black);
  font-family: "Titillium Web", Helvetica;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

.regular-bold {
  color: var(--variable-collection-black);
  font-family: "Titillium Web", Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.regular-grey {
  color: var(--variable-collection-grey);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.regular {
  color: var(--variable-collection-black);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
