.pagination-button {
  align-items: center;
  border-color: var(--variable-collection-green);
  display: inline-flex;
  gap: 2px;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
}

.pagination-button .element {
  font-family: "Source Sans Pro", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.pagination-button.variant-1-selected {
  background-color: var(--variable-collection-green);
  border: 1px solid var(--variable-collection-green);
}

.pagination-button.variant-1-default {
  background-color: var(--variable-collection-white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.pagination-button.variant-1-selected .element {
  color: var(--variable-collection-white);
}

.pagination-button.variant-1-default .element {
  color: var(--variable-collection-green);
}
