.wrapper {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--variable-collection-grey);
  border-radius: var(--variable-collection-radius);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.content {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}
