.page-default {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.page-default .design-component-instance-node-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.page-default .home-page {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
  width: 100%;
  height: 100%;
}

.page-default .page-container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 100%;
}

.page-default .row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  max-width: 800px;
  padding: 0px 10px;
  position: relative;
}

.page-default .left {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  position: relative;
}

.page-default .tabs {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 15px;
  position: relative;
  width: 100%;
}

.page-default .div-wrapper {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #5cb85c;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 98px;
}

.page-default .text-wrapper-4 {
  color: #5cb85c;
  flex: 1;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  text-align: center;
}

.page-default .tab-2 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--variable-collection-grey);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
}

.page-default .text-wrapper-5 {
  color: var(--variable-collection-grey);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.page-default .design-component-instance-node-4 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-top: -1px !important;
}

.page-default .design-component-instance-node-5 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-top: -1px !important;
}

.page-default .post-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  width: 100% !important;
}

.page-default .post-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  width: 100% !important;
}

.page-default .post-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  width: 100% !important;
}

.page-default .pagination-bar-instance {
  align-items: center !important;
  flex: 0 0 auto !important;
  justify-content: center !important;
  margin-bottom: -459px !important;
}
